<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>C2</title>
  <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <header>
        <h1 class="title">自動ページめくり機</h1>
    </header>

    <br>

    
    <br>
    <div class="text">
        <h1>お疲れ様でした．</h1>
    </div>
    <br>
    <div class="text">
        <h1>トップページに戻ります．</h1>
    </div>
    <div class="button">
        <form action='/index' method='get'>
            <input type='submit'class="btn-square-shadow" value='はい'>
        </form>
    </div>

</body>
</html>
