<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>C2</title>
  <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <header>
        <h1 class="title">自動ページめくり機</h1>
    </header>

    <br>
    <div class="text">
        <h1>一定間隔で進みますか？</h1>
    </div>
    <div class="button">
        <form action='/auto' method='get'>
            <input type='submit'class="btn-square-shadow" value='はい'>
        </form>
    </div>

    <div class="text">
        <h1>1ページごと操作しますか？</h1>
    </div>
    <div class="button">
        <form action='/one_page' method='get'>
            <input type='submit'class="btn-square-shadow" value='はい'>
        </form>
    </div>
    <br>



</body>
</html>
